/* MAIN BLOCK */

.main {
    background-color: #f4f4f4;
    background-image: url('../../img/main-sm.svg');
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;

    @media screen and (min-width: 1028px) {
        background-image: url('../../img/main.svg');
        background-size: initial;
    }

    @media screen and (min-width: 1440px) {
        background-image: url('../../img/main-large.png');
    }
}

.main__container {
    padding: 90px 22px 20px;

    @media screen and (min-width: 1028px) {
        padding: 94px 0 76px 170px;
    }
}

.main__title {
    margin-bottom: 24px;
    max-width: 346px;
    font-weight: 600;
    font-size: 48px;
    font-family: 'Galano Grotesque Bold';

    @media screen and (min-width: 1028px) {
        max-width: 752px;
        font-size: 96px;
    }
}

.main__subtitle {
    max-width: 327px;
    font-weight: 400;
    font-size: 32px;

    @media screen and (min-width: 1028px) {
        max-width: 424px;
        font-size: 36px;
    }
}

.main-awards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-top: 16px;
    padding: 16px 0;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);

    @media screen and (min-width: 1028px) {
        align-items: flex-end;
        max-width: 980px;
        margin: 40px 0 0 -170px;
        padding: 16px 60px 16px 100px;
        border: 1px solid var(--black);
        border-left: none;
        border-top-right-radius: 7px;
    }
}

.main-awards__images,
.main-awards__texts {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;

    @media screen and (min-width: 600px) {
        width: 500px;
    }

    @media screen and (min-width: 1028px) {
        justify-content: space-between;
    }
}

.main-awards__item {
    display: flex;
    justify-content: center;
    flex: 1 0 auto;
    max-width: 24%;
}

.main-awards__texts-item {
    max-width: 32%;
}

.main-awards__img {
    max-width: 100%;

    @media screen and (min-width: 600px) {
        max-width: none;
    }
}

.main-awards__block {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.main-awards__block:last-child {
    margin-bottom: 0;
}

.main-awards__text {
    margin-left: 4px;
    font-weight: 600;
    font-size: 12px;

    @media screen and (min-width: 1028px) {
        font-size: 18px;
    }
}