.questions {
    background: url('../../img/questions-bg.svg') left top / contain no-repeat;
}

.questions__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
}

.questions-item {
    position: relative;
}

.questions-item__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    visibility: hidden;
}

.questions-item__container {
    margin-bottom: 12px;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid var(--white);
    font-weight: 400;
    transition: max-height 1s, border .3s;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        padding: 28px;
    }
}

.questions-item__container.--active {
    border: 1px solid var(--accent);

    .questions-item__text {
        max-height: 1044px;
        padding-top: 12px;
    }
}

.questions-item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.questions-item__header:hover {
    color: var(--accent);

    .text-regular {
        color: var(--accent);
    }
}

.questions-item__text {
    max-height: 0;
    overflow: hidden;
    transition: all .3s;
}


    