.success {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.success__img {
    max-width: 100%;
    margin-top: 15px;
    object-fit: contain;

    @media screen and (min-width: 768px) {
        margin-top: 45px;
        margin-bottom: -20px;
        position: relative;
        z-index: 1;
    }
}

.success__ecommerce {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% + 24px);

    @media screen and (min-width: 768px) {
        flex-direction: row;
        width: 100%;
        margin: 0;
        padding: 36px;
        border-radius: 12px;
        background: var(--white);
    }
}

.success__ecommerce-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    background: var(--white);
    border-bottom: 1px solid var(--accent);

    @media screen and (min-width: 768px) {
        align-items: flex-start;
        max-width: 287px;
        padding: 15px 20px 15px 0;
        border-bottom: none;
        border-right: 1px solid var(--accent);
    }
}

.success__text {
    padding-top: 12px;
    max-width: 287px;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.success__subtext {
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid var(--accent);
    background: var(--white);
    text-align: center;

    @media screen and (min-width: 768px) {
        padding: 15px 22px;
        border-bottom: none;
        text-align: left;
    }
}

.success__btn {
    margin-top: 15px;
    width: 80%;
}

.success__topics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        margin-top: 40px;
    }
}

.success__topic {   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 38px;

    @media screen and (min-width: 768px) {
        max-width: 40%;
        margin: 0;
    }
}

.success__topic:last-child {
    margin: 0;
}

.success__topic-text {
    max-width: 300px;
    margin-top: 8px;
    text-align: center;
}