body {
    position: relative;
    background: #f4f4f4;
    font-family: 'Roboto', sans-serif;
}

.layout {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 12px;

    @media screen and (min-width: 1600px) {
        max-width: 1358px;
    }
}

.layout--calculator {
    @media screen and (min-width: 1600px) {
        max-width: 1360px;
    }
}

.block {
    padding: 70px 0;
}

/* TEXTS */
.h2-title {
    font-size: 32px;
    color: var(--grey);
    font-weight: 600;
    text-align: center;

    @media screen and (min-width: 1028px) {
        font-size: 48px;
    }
}

.h3-title {
    font-weight: 600;
    font-size: 36px;
}

.h2-title,
.h3-title {
    font-family: 'Galano Grotesque Bold', 'Roboto', sans-serif;
}

.text-regular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.text-small {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.text-small-bold {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 12px;
}

.text-tiny {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 10px;
}

.text-bold {
    font-weight: 600;
}

.text-grey {
    color: var(--grey);
}

.text-grey-light {
    color: #d2d2d2;
}

.text-orange {
    color: var(--accent);
}

/* BUTTONS */
.btn-primary {
    display: flex;
    justify-content: center;
    max-width: 230px;
    padding: 18px 24px;
    border-radius: 26px;
    border: 1px solid var(--accent);
    background: var(--accent);
    color: var(--white);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
}

.btn-primary:hover {
    background: transparent;
    color: var(--accent);
}

.btn-secondary {
    display: flex;
    justify-content: center;
    max-width: 230px;
    padding: 18px 24px;
    border-radius: 26px;
    border: 1px solid var(--accent);
    background: transparent;
    color: var(--accent);
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
}

.btn-secondary:hover {
    background: var(--accent);
    color: var(--white);
}
