/* TEXTS */
.h2-title {
    font-size: 32px;
    color: #898989;
    font-weight: 600;
    text-align: center;

    @media screen and (min-width: 1028px) {
        font-size: 48px;
    }
}

.h3-title {
    font-weight: 600;
    font-size: 36px;
}

.h2-title,
.h3-title {
    font-family: 'Galano Grotesque Bold', 'Roboto', sans-serif;
}

.text-regular {
    font-family: 'Galano Grotesque', 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.text-small {
    font-weight: 400;
    font-size: 12px;
}

.text-small-bold {
    font-weight: 700;
    font-size: 12px;
}

.text-tiny {
    font-weight: 400;
    font-size: 10px;
}

.text-bold {
    font-weight: 600;
}

.text-grey {
    color: #898989;
}

.text-grey-light {
    color: #d2d2d2;
}

.text-orange {
    color: #FD8634;
}

/* BUTTONS */
.btn-primary {
    display: flex;
    justify-content: center;
    max-width: 230px;
    padding: 18px 24px;
    border-radius: 26px;
    border: 1px solid #FD8634;
    background: #FD8634;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s all;
}

.btn-primary:hover {
    background: transparent;
    color: #FD8634;
}

.btn-secondary {
    display: flex;
    justify-content: center;
    max-width: 230px;
    padding: 18px 24px;
    border-radius: 26px;
    border: 1px solid #FD8634;
    background: transparent;
    color: #FD8634;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: .3s all;
}

.btn-secondary:hover {
    background: #FD8634;
    color: #FFFFFF;
}
