@font-face {
    font-family: 'Galano Grotesque';
    src: url('../fonts/Galano/GalanoGrotesqueRegular.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Galano Grotesque Bold';
    src: url('../fonts/Galano/GalanoGrotesqueSemiBold.otf');
    font-weight: 600;
}

